/* Menu Container */
#menu-container
{
    z-index: 999;
    overflow: hidden;
    width: 100%;
    height: 10vh;
    background-color: transparent;
    position: fixed;
    transition: all .3s ease-in-out;
}

/* Menu Header */

.menu-header
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
}

/* Menu Trigger */

#menu-trigger
{
    margin-left: .5em;
    width: auto;
    height: 50%;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
}

#menu-trigger > div
{
    width: 100%;
    height: calc(100% / 5);
}

#menu-trigger > div:nth-child(1),
#menu-trigger > div:nth-child(3),
#menu-trigger > div:nth-child(5)
{
    background-color: whitesmoke;
}

#menu-trigger.active > div:nth-child(1),
#menu-trigger.active > div:nth-child(3),
#menu-trigger.active > div:nth-child(5)
{
    background-color: #454545;
}

/* Content */
.menu-content
{
    width: 100%;
    height: 90vh;
}

/* menu content button */
.menu-content > button 
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    text-align: left;
    text-indent: .5em;
    background-color: transparent;
    border: none;
}

.menu-content > button > img
{
    margin-left: .5em;
    width: auto;
    height: 50%;
    aspect-ratio: 1/1;
}